<div class="form">
<%= simple_form_for @event.comments.build, :url => event_comments_path(@event) do |comment| %>
  <p>
    <%= comment.input :body, label: false %>
  </p>
  <p>
    <%= comment.button :submit, class: "submit" %>
  </p>
<% end %>
</div>
