<div class="container-menu">
      <div class="logo">
        <%=image_tag('logo-small.png')%>
        </div>
        <div class="nav">
        <ul>
          <li class="create-event">Create new event</li>
          <li class="item">Login</li>
          <li class="item">Register</li>
        </ul>
      </div>
</div>

<div class="container-header">
  <div class="row">
    <div class="col-12">
      <h1 class="app-title">Get ready to TeamUp</h1>
      <p>Meet great players</p>
      </div>
    </div>
  </div>
</div>
