/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 body {
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #fafafa;
 }

 .app-title {
   font-family: helvetica, sans-serif;
   text-align: center;
   font-size: 50px;
   color: white;
   margin: 0px;
   margin-top: 40px;
   width: 100%;
 }

 .container-body {
   width: 80%;
   margin: auto;
 }

 .container-menu{
  margin-top: 0px;
  font-size: 20px;
  background-color: white;
  width: 100%;
  height: 90px;
}

 .container-header p{
  margin: 20px;
  font-size: 20px;
  opacity: 0.9;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-bottom: 70px;
}

 .container-header{
  background-color: #43e05a;
  margin-bottom: 20px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e2dede;
 }

 .event-container {
  padding: 10px;
  display: block;
  background: white;
  margin: 0 auto;
  opacity: 0.9;
  border: 1px solid rgba(0,0,0,.12);
  list-style:none;
  text-align: left;
  width: 80%
}

.event-title{
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: black;
  text-align: left;
  width: 100%;
  padding-left: 30px;
  line-height: 1.25;
  letter-spacing: -.02em;
}
.event-title td {
  width: 100%;
}
.event-text {
  width: 100%;
  display: block;
}
.event-text p{
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding-left: 100px;
  text-align: left;
}
.event-text td {
  width: 100%;
  display: block;
  color: rgba(0,0,0,.54);
}

.logo img{
  float:left;
  display: block;
  padding-left: 15px;
  padding-top: 15px;
}

.nav {
  float:right;
  margin-right: 30px;
 padding-top: 15px;
}
.nav li {
  display: inline-block;
  padding: 30px;
  padding-top: 15px;
  text-align: center;

}

.item {
  color: gray;
}
.row {
  width: 100%;
}

p {
  margin-bottom: 0;
}

tr {
  width: 100%;
  display: block;
}

.time{
  text-align: left;
  color: rgba(0,0,0,.54);
  font-size: 18px;
  overflow: auto;
}

a {
  color: rgba(0,0,0,.54);
}
a:hover {
  text-decoration: none;
  color: rgba(0,0,0,.54);
}

.create-event a{
  color: #43e05a;
}

.ball img{
  width: 50px;
  height: 50px;
}
.ball{
  float: right;
  text-align: center;
}

.form{
  width:40%;
  text-align: left;
  margin: auto;
  font-weight: bold;
}

.submit{
  margin: auto;
  background-color: gray;
  color: white;
  display: block;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

.section {
  background-color: white;
  border: 1px solid rgba(0,0,0,.12);
  margin: auto;
  line-height: 2.5;
  margin-top: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}
.section table{
  width: 100%;
}
.section tr{
  border: 1px solid rgba(0,0,0,.12);
  width: 100%;
  padding: 20px;
}
.sport-icon {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 10px;
}
.description{
}
.details{
  text-align: center;
}
.row-event{
  display: flex;
}
.join-leave{
  width: 100%;
}

.add-comment{
  margin-top: 30px;
}
.edit-delete img{
  width: 50px;
}
.buttons{
  text-align: right;
  opacity: 0.3;
}
.commenter{
  font-weight: bold;
}
.profile-avatar{
  width: 200px;
  display: block;
  margin-bottom: 30px;
}
.row-item{
  display: inline-block;
  padding: 20px;
}
.search{
  display: inline-block;
  padding: 20px;
}
.new_filterrific{
  text-align: center;
  margin: 20px;
}
.event-item a{
  font-size: 22px;
  color: black;
  font-weight: 500;
}
.profile{
  display: block;
  margin: auto;
  width: 60%;
  text-align:center;
  background-color: white;
  border: 1px solid rgba(0,0,0,.12);
  padding: 30px;
}

.profile p, td, tr{
  padding: 10px;
  text-align: left;
}
.skills{
  display: -webkit-inline-box;
  margin-top: 30px;
}

.skills th{
  text-align: center;
  width: 100%;
  display: block;
}

.attendee-entry tr{
  padding: 8px;
}
.line{
  display:inline-block;
  overflow: auto;
}
