<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@place.latitude}%2C#{@place.longitude}" %>

<!--<h3>Nearby places</h3>
<ul>
  <%#= @places.each do |place| %>
    <li><%#= link_to place.address, place %> (<%#= place.distance.round(2) %> miles)</li>
  <%# end %>
</ul>

<p>
  <%#= link_to "Edit", edit_place_path(@place) %> |
  <%#= link_to "Destroy", @place, :confirm => 'Are you sure?', :method => :delete %> |
  <%#= link_to "View All", places_path %>
</p>-->
